// z-index
$z5: 500;
$z4: 400;
$z3: 300;
$z2: 200;
$z1: 100;
// depth
$shadowColorT1: rgba(0, 0, 0, 0.12);
$shadowColorT2: rgba(0, 0, 0, 0.16);
$shadowColorT3: rgba(0, 0, 0, 0.19);
$shadowColorT4: rgba(0, 0, 0, 0.25);
$shadowColorT5: rgba(0, 0, 0, 0.30);

$shadowColorB1: rgba(0, 0, 0, 0.24);
$shadowColorB2: rgba(0, 0, 0, 0.23);
$shadowColorB3: rgba(0, 0, 0, 0.23);
$shadowColorB4: rgba(0, 0, 0, 0.22);
$shadowColorB5: rgba(0, 0, 0, 0.22);

// animation duration
$duration: .3s;
